@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './assets//styles/_customUI.scss';


* {
  font-family: 'Inter', sans-serif;
}

// Typhography
h2 {
  @apply text-lg font-semibold text-gray-700;
  margin-bottom: 0 !important;
}

.bg-custom {
  background: #F3FBFF;
}

.content-section {
  .header {
    @apply flex justify-between items-center mb-5;
  }
  .body {
    @apply bg-white shadow-md rounded-md w-full p-5 pb-8;
  }
  .body-with-footer {
    @apply bg-white shadow-md rounded-md w-full divide-y-2;
    .body-content {
      @apply p-5 pb-8;
    }
    .footer {
      @apply p-5 pt-4 flex justify-end gap-x-3;
    }
  }
}
