@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './assets//styles/_customUI.scss';


* {
  font-family: 'Inter', sans-serif;
}

.bg-custom {
  background: #F3FBFF;
}

.ant-pagination {
  @apply flex order-5;

  .ant-pagination-item-link {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .ant-pagination-total-text {
    @apply mr-auto;
  }
  
  .ant-pagination-options {
    @apply float-left;
  }
}
