// color variables
$primary: #008FD7;

.ant-layout {
  .ant-layout-header {
    background: white;
  }
}

.ant-table {
  .ant-table-thead>tr>th {
    background: white;
  }
}

.ant-input {
  border-radius: 5px !important;
  padding: 8px 10px !important;
}

.ant-btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

.ant-pagination {
  @apply flex order-5;

  .ant-pagination-item-link {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .ant-pagination-total-text {
    @apply mr-auto;
  }
  
  .ant-pagination-options {
    @apply float-left;
  }
}